
.add_to_cart{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0rem;
    position: absolute;
    z-index: 1200;
    .addtoCart_box{
        width: 400px;
        height: 100px;
        background-color: chocolate;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
          font-size: 23px;
          font-family: sans-serif;
          font-weight: 300;
          color: white;
        }
    }
}

.loading_details{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}


.detailsPage_section{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top:5.4rem ;
    .img_details_section{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        display: flex;
        .left_img_section_details_page{
            width: 40%;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 20%;
                object-fit: contain;
            }
        }
        .right_img_sectio_details{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            padding: 3rem 1rem;
            img{
                width: 90%;
                height: 70%;
                object-fit: contain;
            }
        }
    }
    .details_page_abou_page_products{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        margin-bottom: 2rem;
        h1{
            font-size: 26px;
            font-family: sans-serif;
            font-weight: 300;
        }
        p{
            font-size: 16px;
            font-family: sans-serif;
            font-weight: 300;
            color: blue;
        }
        h2{
            font-size: 23px;
            font-family: sans-serif;
            font-weight: 300;
        }
        ul li{
            font-size: 16px;
            font-family: sans-serif;
            font-weight: 300;
        }
        .add_cart_function_details{
            width: 100%;
            height: fit-content;
            display: flex;
            button{
                padding: 0.4rem 3rem;
                font-size: 16px;
                font-weight: 300;
                font-family: sans-serif;
                margin-left: 0.4rem;
                color: white;
                background-color: orangered;
                border: none;
                outline: none;
                &:active{
                    background-color: rgb(128, 46, 17);
                }
            }
            form{
                width: 50%;
                input{
                    display: none;
                }
            }
        }
        img{
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
        .hightlight_section_of_details_page{
            width: 100%;
            padding: 2rem 0rem;
            height: fit-content;
            display: flex;
            gap: 2.5rem;
            ul li{
                font-size: 16px;
            font-family: sans-serif;
            font-weight: 300;  
            }
        }
    }
}