.loading_section_order_list{
    width: 100%;
    height: 400px;
    padding: 5.5rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_list_main_page_box{
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 2rem 2rem 2rem;
    .no_items_found_img{
        width: 100%;
        height: 600px;
        padding-top: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
            height: 90%;
            object-fit: contain;
        }
    }
    .result_of_products_list{
        width:90%;
        height: fit-content;
        // box-shadow: 1px 1px 20px gray;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        .simple_site{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
            transition: all 0.3s ease-in 0s;
            &:hover{
                transform: scale(0.967);
            }
            img{
                width: 15%;
                height: 90%;
                object-fit: contain;
            }
            .about_products_details_section{
                 width: 60%;
                 height: 90%;
                 padding: 2rem 0rem 0rem 3rem;
                 overflow: hidden;
                 h1{
                    font-size: 18px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-family: sans-serif;
                    font-weight: 200;
                 }
                 h3{
                    font-size: 18px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 17px;
                    font-family: sans-serif;
                    font-weight: 300;
                    width: 90%;
                    height: fit-content;
                 }
            }
            .payment_well_section{
                width: 30%;
                height: 90%;
                padding: 2rem 0rem 0rem 2rem;
                h3{
                    width: 100%;
                    display:flex;
                    font-size: 17px;
                    font-family: sans-serif;
                    font-weight: 300;
                    width: 90%;
                    height: fit-content;
                 }
                 form {
                    button{
                        padding: 0.4rem 3rem ;
                        font: 1em sans-serif;
                        background-color: red;
                        color: white;
                        border: none;
                        outline: none;
                    }
                 }
            }
        }
     

    }
}